[Unit]
Description=%i service with podman compose
Requires=podman.service dnsdist.service
After=podman.service dnsdist.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/etc/podman/compose/%i
ExecStart=/usr/bin/podman-compose up -d --remove-orphans
ExecStop=/usr/bin/podman-compose down

[Install]
WantedBy=multi-user.target
