{{ item }}.	IN	A	{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
{{ item }}.	IN	MX	1 {{ mailserver_hostname }}.{{ mailserver_domain }}.
{{ item }}.	IN	TXT	"v=spf1 mx ~all"
{{ item }}.	IN	AAAA	{{ hostvars[inventory_hostname]['ansible_default_ipv6']['address'] }}
*.{{ item }}.	IN	CNAME	{{ item }}.
dyndns.{{ item }}.	IN	NS	ns.{{ mailserver_domain }}.
mail.{{ item }}.	IN	MX	1 {{ mailserver_hostname }}.{{ mailserver_domain }}.
mail2.{{ item }}.	IN	MX	5 {{ mailserver_hostname }}.{{ mailserver_domain }}.
{% if item == mailserver_domain %}
{{ mailserver_hostname }}.{{ mailserver_domain }}.	IN	CNAME	{{ item }}.
{% endif -%}
ns.{{ item }}.	IN	CNAME	{{ item }}.
smtp.{{ item }}.	IN	MX	10 {{ mailserver_hostname }}.{{ mailserver_domain }}.
