require "vnd.dovecot.report";
require "environment";
require "imapsieve";

if environment "imap.mailbox" "Trash" {
   # Putting spam in Trash mailbox is not significant
   stop;
}

if environment "imap.mailbox" "Spam" {
   # Copying mail inside Spam mailbox is not significant
   stop;
}

report "not-spam" "User removed this message from the Spam folder." "ham-report@{{ mailserver_domain }}";
