<VirtualHost *:80>
  ServerName clientip.{{ mailserver_domain }}

  RewriteEngine on
  RewriteCond %{HTTPS} off
  RewriteCond %{SERVER_NAME} =clientip.{{ mailserver_domain }}

  RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>
