<VirtualHost *:80>
  ServerName dyndns.{{ mailserver_domain }}

  RewriteEngine on
  RewriteCond %{HTTPS} off
  RewriteCond %{SERVER_NAME} =dynsdns.{{ mailserver_domain }}

  RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>
