<VirtualHost *:80>
  ServerName postfixadmin.vpn.{{ mailserver_domain }}

  DocumentRoot /var/www/postfixadmin/public/

  ErrorLog /var/log/httpd/postfixadmin_error.log
  CustomLog /var/log/httpd/postfixadmin_access.log combined

  <Directory />
    Options FollowSymLinks
    AllowOverride All
    <RequireAny>
      Require ip {{ wireguard.ipv4_pool }} {{ wireguard.ipv6_pool }}
{% for dynamic_host_name in wg_configs.keys() | list %}
{% if dynamic_host_name != "server "%}
      Require forward-dns {{ dynamic_host_name }}.dyndns.{{ mailserver_domain }}
      Require forward-dns {{ dynamic_host_name }}.{{ mailserver_admin_user }}.dyndns.{{ mailserver_domain }}
{% endif %}
{% endfor %}
    </RequireAny>
  </Directory>

  <Directory /var/www/postfixadmin/public/>
    Options FollowSymLinks MultiViews
    AllowOverride All
    <RequireAny>
      Require ip {{ wireguard.ipv4_pool }} {{ wireguard.ipv6_pool }}
{% for dynamic_host_name in wg_configs.keys() | list %}
{% if dynamic_host_name != "server "%}
      Require forward-dns {{ dynamic_host_name }}.dyndns.{{ mailserver_domain }}
      Require forward-dns {{ dynamic_host_name }}.{{ mailserver_admin_user }}.dyndns.{{ mailserver_domain }}
{% endif %}
{% endfor %}
    </RequireAny>
  </Directory>

RewriteEngine on
RewriteCond %{SERVER_NAME} =postfixadmin.vpn.{{ mailserver_domain }}

RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>
