<VirtualHost *:80>
  ServerName postfixadmin.vpn.{{ mailserver_domain }}
  ServerAlias postfixadmin.{{ mailserver_domain }}

  RewriteEngine on
  RewriteCond %{SERVER_NAME} =postfixadmin.vpn.{{ mailserver_domain }}

  RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>
