<IfModule mod_ssl.c>
SSLStaplingCache shmcb:/var/run/apache2/stapling_cache(128000)
<VirtualHost *:443>
  # TODO: change to VPN domain after confirming VPN and name resolution works fine
  ServerName poweradmin.{{ mailserver_domain }}

  DocumentRoot /var/www/poweradmin/

  ErrorLog /var/log/httpd/poweradmin_error.log
  CustomLog /var/log/httpd/poweradmin_access.log combined

  <Directory />
    Options FollowSymLinks
    AllowOverride All
  </Directory>

  <Directory /var/www/poweradmin/>
    Options FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>


SSLCertificateFile /etc/letsencrypt/live/{{ mailserver_domain }}/fullchain.pem
SSLCertificateKeyFile /etc/letsencrypt/live/{{ mailserver_domain }}/privkey.pem
Include /etc/letsencrypt/options-ssl-apache.conf
Header always set Strict-Transport-Security "max-age=31536000"
SSLUseStapling on
</VirtualHost>
</IfModule>
