<VirtualHost *:80>
  ServerName poweradmin.vpn.{{ mailserver_domain }}
  ServerAlias poweradmin.{{ mailserver_domain }}

  RewriteEngine on
  RewriteCond %{SERVER_NAME} =poweradmin.vpn.{{ mailserver_domain }}

  RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>
