<VirtualHost *:80>
  # TODO: change to VPN domain after confirming VPN and name resolution works fine
  ServerName poweradmin.vpn.{{ mailserver_domain }}

  DocumentRoot /var/www/poweradmin/

  ErrorLog /var/log/httpd/poweradmin_error.log
  CustomLog /var/log/httpd/poweradmin_access.log combined

  <Directory />
    Options FollowSymLinks
    AllowOverride All
    Require ip {{ wireguard.ipv4_pool }} {{ wireguard.ipv6_pool }}
  </Directory>

  <Directory /var/www/poweradmin/>
    Options FollowSymLinks MultiViews
    AllowOverride All
    Require ip {{ wireguard.ipv4_pool }} {{ wireguard.ipv6_pool }}
  </Directory>

RewriteEngine on
RewriteCond %{SERVER_NAME} =poweradmin.vpn.{{ mailserver_domain }}

RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>
