<IfModule mod_ssl.c>
SSLStaplingCache shmcb:/var/run/apache2/stapling_cache(128000)
<VirtualHost vpn.{{ mailserver_domain }}:443>
  ServerName vpn.{{ mailserver_domain }}

  ErrorLog /var/log/httpd/vpn_error.log
  CustomLog /var/log/httpd/vpn_access.log combined

  AddExternalAuth pwauth /usr/bin/pwauth
  SetExternalAuthMethod pwauth pipe

  <Location />
    ProxyPreserveHost On
    DAV On
    Options +Indexes
    AuthType Basic
    AuthName "private area"
    AuthBasicProvider external
    AuthExternal pwauth
    Require valid-user
    DirectoryIndex disabled
    ProxyPass "http://localhost:{{ wireguard.http_port }}/"
    ProxyPassReverse "http://localhost:{{ wireguard.http_port }}/"
  </Location>

SSLCertificateFile /etc/letsencrypt/live/{{ mailserver_domain }}/fullchain.pem
SSLCertificateKeyFile /etc/letsencrypt/live/{{ mailserver_domain }}/privkey.pem
Include /etc/letsencrypt/options-ssl-apache.conf
Header always set Strict-Transport-Security "max-age=31536000"
SSLUseStapling on
</VirtualHost>
</IfModule>
