<VirtualHost *:80>
  ServerName vpn.{{ mailserver_domain }}

  RewriteEngine on
  RewriteCond %{SERVER_NAME} =vpn.{{ mailserver_domain }}

  RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>
