<VirtualHost *:80>
  ServerName webdav.{{ mailserver_domain }}
  ServerAlias {% for custom_domain in custom_domains %}webdav.{{ custom_domain }}{% if loop.index != loop.length %} {% endif %}{% endfor %}

  DocumentRoot /var/www/html/webdav/

  ErrorLog /var/log/httpd/webdav_error.log
  CustomLog /var/log/httpd/webdav_access.log combined

  AddExternalAuth pwauth /usr/bin/pwauth
  SetExternalAuthMethod pwauth pipe

  <IfModule mod_dav_fs.c>
      DAVLockDB /var/lib/dav/lockdb
  </IfModule>
  <Location />
    DAV On
    Options +Indexes
    AuthType Basic
    AuthName "private area"
    AuthBasicProvider external
    AuthExternal pwauth
    Require valid-user
    DirectoryIndex disabled
  </Location>

RewriteEngine on
{% for custom_domain in [mailserver_domain] + custom_domains %}
RewriteCond %{SERVER_NAME} =webdav.{{ custom_domain }}
{%- if loop.index != loop.length %}
 [OR]
{% endif %}
{% endfor %}

RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>
