<VirtualHost *:80>
  ServerName webdav.{{ mailserver_domain }}
  ServerAlias {{ custom_domains | join(' webdav.') }}

  RewriteEngine on
{% for custom_domain in [mailserver_domain] + custom_domains %}
  RewriteCond %{SERVER_NAME} =webdav.{{ custom_domain }}
{%- if loop.index != loop.length %}
   [OR]
{% endif %}
{% endfor %}

  RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>
