<IfModule mod_ssl.c>
SSLStaplingCache shmcb:/var/run/apache2/stapling_cache(128000)
<VirtualHost *:443>
  # ServerName {{ mailserver_domain }}
  # ServerAlias {{ custom_domains | join(' ') }}

  ErrorLog /var/log/httpd/wildcard_error.log
  CustomLog /var/log/httpd/wildcard_access.log combined

  SSLEngine on
  SSLProxyEngine on
  SSLProxyVerify none
  SSLProxyCheckPeerCN off
  SSLProxyCheckPeerName off
  RewriteEngine on
  RewriteRule ^ https://youtu.be/LLFhKaqnWwk [END,NE,R=permanent]

SSLCertificateFile /etc/letsencrypt/certificates/{{ mailserver_domain }}.pem
SSLCertificateKeyFile /etc/letsencrypt/certificates/{{ mailserver_domain }}.key
Include /etc/letsencrypt/options-ssl-apache.conf
Header always set Strict-Transport-Security "max-age=31536000"
SSLUseStapling on
</VirtualHost>
</IfModule>
