<VirtualHost *:80>
  # ServerName {{ mailserver_domain }}
  # ServerAlias {% for custom_domain in custom_domains %}{{ custom_domain }}{% if loop.index != loop.length %} {% endif %}{% endfor %}

  ErrorLog /var/log/httpd/wildcard_error.log
  CustomLog /var/log/httpd/wildcard_access.log combined

  RewriteEngine on
  RewriteRule ^ https://youtu.be/LLFhKaqnWwk [END,NE,R=permanent]

</VirtualHost>
