<VirtualHost *:80>
  # ServerName {{ mailserver_domain }}
  # ServerAlias {{ custom_domains | join(' ') }}

  ErrorLog /var/log/httpd/wildcard_error.log
  CustomLog /var/log/httpd/wildcard_access.log combined

  RewriteEngine on
  RewriteRule ^ https://youtu.be/LLFhKaqnWwk [END,NE,R=permanent]

</VirtualHost>
