[general]
accounts = oldimap

[Account oldimap]
localrepository = newimap
remoterepository = oldimap

[Repository newimap]
type = IMAP
remotehost = {{ mailserver_domain }}
remoteuser = {{ item.name }}@{{ mailserver_domain }}
remotepass = {{ item.password }}
sslcacertfile = /etc/ssl/certs/ca-bundle.trust.crt

[Repository oldimap]
type = IMAP
remotehost = {{ item.old_imap_mail.host }}
remoteuser = {{ item.old_imap_mail.user }}
remotepass = {{ item.old_imap_mail.password }}
# The below will put all folders as sub-folders of the 'local' INBOX,
# assuming that your path separator on 'local' is a dot.
nametrans = lambda x: 'INBOX.' + x
{% if (not item.old_imap_mail.ssl_verify) and (old_imap_fingerprint is defined and 'Fingerprint=' in old_imap_fingerprint.stdout) %}
cert_fingerprint = {{ old_imap_fingerprint.stdout | split('Fingerprint=') | last }}

{% else %}
sslcacertfile = /etc/ssl/certs/ca-bundle.trust.crt

{% endif %}
