$TTL 2h;
$ORIGIN {{ mailserver_domain }}.
@          SOA ns.{{ mailserver_domain }} hostmaster.{{ mailserver_domain }} 0 10800 3600 604800 3600
           NS ns.{{ mailserver_domain }}. 
; begin RPZ RR definitions

{{ mailserver_domain }} A {% if wireguard is defined %}{{ wireguard.ipv4_pool|split('/')|first|regex_replace('\.0$', '\.1') }}{% else %}127.0.0.1{% endif %}
{{ mailserver_domain }} AAAA {% if wireguard is defined %}{{ wireguard.ipv6_pool|split('/')|first|regex_replace('\:0$', '\:1') }}{% else %}::1{% endif %}
*.{{ mailserver_domain }} CNAME {{ mailswerver_domain }}.
{% for dns_record in default_dns_records %}
{% if dns_record.content == hostvars[inventory_hostname]['ansible_default_ipv4']['address'] %}
{% set dns_record.content = wireguard.ipv4_pool|split('/')|first|regex_replace('\.0$', '\.1') %}
{% elif dns_record.content == hostvars[inventory_hostname]['ansible_default_ipv6']['address'] %}
{% set dns_record.content = wireguard.ipv6_pool|split('/')|first|regex_replace('\:0$', '\:1') %}
{% endif %}
{{ dns_record.name|default('@') }}.{{ mailserver_domain }} {{ dns_record.type }} {{ dns_record.content }}
{% endfor %}
