<?php
/* CONFIG START. DO NOT CHANGE ANYTHING IN OR AFTER THIS LINE. */
// $Hash: dd22d3283033d73071e7f49fd9e570144d651fcd
// $Id: 5841de7a8bd742b764f603953bef5d16a75a0da4 $
$conf['vhosts'] = true;
$conf['debug_level'] = E_ALL & ~E_NOTICE;
$conf['max_exec_time'] = 0;
$conf['max_execution'] = 0;
$conf['compress_pages'] = true;
$conf['secret_key'] = '{{ horde_secret_key }}';
$conf['umask'] = 077;
$conf['testdisable'] = true;
$conf['use_ssl'] = 2;
$conf['server']['name'] = $_SERVER['SERVER_NAME'];
$conf['urls']['token_lifetime'] = 30;
$conf['urls']['hmac_lifetime'] = 30;
$conf['urls']['pretty'] = 'rewrite';
$conf['safe_ips'] = array();
$conf['session']['name'] = 'Horde';
$conf['session']['use_only_cookies'] = true;
$conf['session']['timeout'] = 0;
$conf['session']['cache_limiter'] = 'nocache';
$conf['session']['max_time'] = 72000;
$conf['cookie']['domain'] = $_SERVER['SERVER_NAME'];
$conf['cookie']['path'] = '/';
$conf['sql']['username'] = 'hordeuser';
$conf['sql']['password'] = '{{ horde_db_password }}';
$conf['sql']['hostspec'] = 'localhost';
$conf['sql']['port'] = 3306;
$conf['sql']['protocol'] = 'tcp';
$conf['sql']['database'] = 'horde';
$conf['sql']['charset'] = 'utf-8';
$conf['sql']['ssl'] = false;
$conf['sql']['splitread'] = false;
$conf['sql']['logqueries'] = true;
$conf['sql']['phptype'] = 'mysqli';
$conf['nosql']['phptype'] = false;
$conf['ldap']['hostspec'] = array('localhost');
$conf['ldap']['port'] = 389;
$conf['ldap']['tls'] = false;
$conf['ldap']['timeout'] = 5;
$conf['ldap']['version'] = 3;
$conf['ldap']['binddn'] = 'dc={{ mailserver_domain.split(".")|join(",dc=") }}';
$conf['ldap']['bindpw'] = '{{ ldap_admin_password }}';
$conf['ldap']['user']['uid'] = 'uid';
$conf['ldap']['user']['objectclass'] = array('*');
$conf['ldap']['user']['filter_type'] = 'objectclass';
$conf['ldap']['bindas'] = 'admin';
$conf['ldap']['useldap'] = true;
$conf['auth']['admins'] = array('{{ mailserver_admin_user }}@{{ mailserver_domain }}');
$conf['auth']['checkip'] = true;
$conf['auth']['checkbrowser'] = true;
$conf['auth']['resetpassword_from'] = 'postmaster@{{ mailserver_domain }}';
$conf['auth']['resetpassword'] = true;
$conf['auth']['alternate_login'] = false;
$conf['auth']['redirect_on_logout'] = false;
$conf['auth']['list_users'] = 'list';
$conf['auth']['params']['hostspec'] = 'localhost';
$conf['auth']['params']['port'] = 993;
$conf['auth']['params']['secure'] = 'ssl';
$conf['auth']['driver'] = 'imap';
$conf['auth']['params']['count_bad_logins'] = true;
$conf['auth']['params']['login_block'] = true;
$conf['auth']['params']['login_block_count'] = 5;
$conf['auth']['params']['login_block_time'] = 5;
$conf['signup']['allow'] = false;
$conf['log']['priority'] = 'INFO';
$conf['log']['ident'] = 'HORDE';
$conf['log']['name'] = '/var/log/horde/horde.log';
$conf['log']['params']['append'] = true;
$conf['log']['params']['format'] = 'default';
$conf['log']['type'] = 'file';
$conf['log']['enabled'] = true;
$conf['log_accesskeys'] = false;
$conf['prefs']['maxsize'] = 65535;
$conf['prefs']['params']['driverconfig'] = 'horde';
$conf['prefs']['driver'] = 'Sql';
$conf['alarms']['params']['driverconfig'] = 'horde';
$conf['alarms']['params']['ttl'] = 300;
$conf['alarms']['driver'] = 'Sql';
$conf['group']['params']['driverconfig'] = 'horde';
$conf['group']['driver'] = 'Sql';
$conf['perms']['driverconfig'] = 'horde';
$conf['perms']['driver'] = 'Sql';
$conf['share']['no_sharing'] = false;
$conf['share']['auto_create'] = true;
$conf['share']['world'] = true;
$conf['share']['any_group'] = false;
$conf['share']['hidden'] = false;
$conf['share']['cache'] = false;
$conf['share']['driver'] = 'Sqlng';
$conf['cache']['default_lifetime'] = 86400;
$conf['cache']['params']['dir'] = '/var/lib/horde/cache';
$conf['cache']['params']['sub'] = 0;
$conf['cache']['driver'] = 'File';
$conf['cache']['use_memorycache'] = '';
$conf['cachecssparams']['driver'] = 'filesystem';
$conf['cachecssparams']['filemtime'] = false;
$conf['cachecssparams']['lifetime'] = 86400;
$conf['cachecss'] = true;
$conf['cachejsparams']['driver'] = 'filesystem';
$conf['cachejsparams']['compress'] = 'php';
$conf['cachejsparams']['lifetime'] = 604800;
$conf['cachejs'] = true;
$conf['cachethemesparams']['check'] = 'appversion';
$conf['cachethemesparams']['lifetime'] = 604800;
$conf['cachethemes'] = true;
$conf['lock']['params']['driverconfig'] = 'horde';
$conf['lock']['driver'] = 'Sql';
$conf['token']['params']['driverconfig'] = 'horde';
$conf['token']['driver'] = 'Sql';
$conf['history']['params']['driverconfig'] = 'horde';
$conf['history']['driver'] = 'Sql';
$conf['davstorage']['params']['driverconfig'] = 'horde';
$conf['davstorage']['driver'] = 'Sql';
$conf['mailer']['params']['host'] = 'localhost';
$conf['mailer']['params']['port'] = 587;
$conf['mailer']['params']['secure'] = 'tls';
$conf['mailer']['params']['username_auth'] = true;
$conf['mailer']['params']['password_auth'] = true;
$conf['mailer']['params']['auth'] = true;
$conf['mailer']['params']['lmtp'] = false;
$conf['mailer']['type'] = 'smtp';
$conf['vfs']['params']['driverconfig'] = 'horde';
$conf['vfs']['type'] = 'Sql';
$conf['sessionhandler']['type'] = 'Builtin';
$conf['sessionhandler']['hashtable'] = false;
$conf['spell']['params']['path'] = '/usr/bin/aspell';
$conf['spell']['driver'] = 'aspell';
$conf['gnupg']['path'] = '/usr/bin/gpg';
$conf['gnupg']['keyserver'] = array('pool.sks-keyservers.net', 'subkeys.pgp.net', 'pgp.mit.edu');
$conf['gnupg']['timeout'] = 10;
$conf['openssl']['path'] = '/usr/bin/openssl';
$conf['nobase64_img'] = true;
$conf['image']['convert'] = '/usr/bin/convert';
$conf['image']['identify'] = '/usr/bin/identify';
$conf['image']['driver'] = 'Im';
$conf['exif']['driver'] = 'Bundled';
$conf['geoip']['datafile'] = '/usr/share/GeoIP/GeoLiteCity.dat';
$conf['timezone']['location'] = 'ftp://ftp.iana.org/tz/tzdata-latest.tar.gz';
$conf['problems']['email'] = 'webmaster@{{ mailserver_domain }}';
$conf['problems']['maildomain'] = '{{ mailserver_domain }}';
$conf['problems']['tickets'] = false;
$conf['problems']['attachments'] = true;
$conf['menu']['links']['help'] = 'all';
$conf['menu']['links']['prefs'] = 'authenticated';
$conf['menu']['links']['problem'] = 'all';
$conf['menu']['links']['login'] = 'all';
$conf['menu']['links']['logout'] = 'authenticated';
$conf['portal']['fixed_blocks'] = array('horde:horde_Block_Account', 'horde:horde_Block_Cloud', 'horde:horde_Block_Feed', 'horde:horde_Block_Fortune', 'horde:horde_Block_Iframe', 'horde:horde_Block_Moon', 'horde:horde_Block_Sunrise', 'horde:horde_Block_Time', 'horde:horde_Block_Vatid');
$conf['fortune']['exec_path'] = '/usr/bin/fortune';
$conf['accounts']['params']['basedn'] = 'dc={{ mailserver_domain.split(".")|join(",dc=") }}';
$conf['accounts']['params']['scope'] = 'sub';
$conf['accounts']['params']['attr'] = 'uid';
$conf['accounts']['params']['strip'] = true;
$conf['accounts']['params']['driverconfig'] = 'horde';
$conf['accounts']['driver'] = 'ldap';
$conf['user']['verify_from_addr'] = true;
$conf['user']['select_view'] = true;
$conf['facebook']['enabled'] = false;
$conf['twitter']['enabled'] = true;
$conf['urlshortener'] = 'TinyUrl';
$conf['weather']['provider'] = false;
$conf['imap']['server'] = 'localhost';
$conf['imap']['port'] = 143;
$conf['imap']['secure'] = 'tls';
$conf['imap']['maildomain'] = '{{ mailserver_domain }}';
$conf['imap']['cache_folders'] = true;
$conf['imap']['enabled'] = true;
$conf['imsp']['enabled'] = false;
$conf['kolab']['ldap']['server'] = 'localhost';
$conf['kolab']['ldap']['port'] = 389;
$conf['kolab']['ldap']['basedn'] = 'dc={{ mailserver_domain.split(".")|join(",dc=") }}';
$conf['kolab']['ldap']['phpdn'] = 'cn=nobody,cn=internal,dc={{ mailserver_domain.split(".")|join(",dc=") }}';
$conf['kolab']['ldap']['phppw'] = '{{ ldap_admin_password }}';
$conf['kolab']['imap']['server'] = 'localhost';
$conf['kolab']['imap']['port'] = 143;
$conf['kolab']['imap']['sieveport'] = 2000;
$conf['kolab']['imap']['maildomain'] = '{{ mailserver_domain }}';
$conf['kolab']['imap']['cache_folders'] = true;
$conf['kolab']['smtp']['server'] = 'localhost';
$conf['kolab']['smtp']['port'] = 25;
$conf['kolab']['freebusy']['server'] = 'https://localhost/freebusy';
$conf['kolab']['enabled'] = true;
$conf['hashtable']['driver'] = 'none';
$conf['activesync']['params']['driverconfig'] = 'horde';
$conf['activesync']['storage'] = 'Sql';
$conf['activesync']['emailsync'] = true;
$conf['activesync']['version'] = '14.1';
$conf['activesync']['auth']['type'] = 'basic';
$conf['activesync']['autodiscovery'] = 'full';
$conf['activesync']['hosts']['imap']['host'] = 'localhost';
$conf['activesync']['hosts']['imap']['port'] = 993;
$conf['activesync']['hosts']['imap']['ssl'] = true;
$conf['activesync']['hosts']['pop']['host'] = 'localhost';
$conf['activesync']['hosts']['pop']['port'] = 995;
$conf['activesync']['hosts']['pop']['ssl'] = true;
$conf['activesync']['hosts']['smtp']['host'] = 'localhost';
$conf['activesync']['hosts']['smtp']['port'] = 465;
$conf['activesync']['hosts']['smtp']['popauth'] = true;
$conf['activesync']['hosts']['smtp']['ssl'] = true;
$conf['activesync']['outlookdiscovery'] = true;
$conf['activesync']['logging']['path'] = '/var/log/activesync';
$conf['activesync']['logging']['level'] = '1';
$conf['activesync']['logging']['type'] = 'perdevice';
$conf['activesync']['ping']['heartbeatmin'] = 60;
$conf['activesync']['ping']['heartbeatmax'] = 2700;
$conf['activesync']['ping']['heartbeatdefault'] = 480;
$conf['activesync']['ping']['deviceping'] = true;
$conf['activesync']['ping']['waitinterval'] = 15;
$conf['activesync']['enabled'] = true;
/* CONFIG END. DO NOT CHANGE ANYTHING IN OR BEFORE THIS LINE. */
