<files {{ wireguard.config_dir }}/{{ wireguard.interface }}.conf>
order allow,deny
deny from all
</files>

{% for client in wg_configs.keys() | list %}
{% if client != "server" %}
<Directory {{ wireguard.config_dir }}/clients/{{ client }}>
require user {{ wg_configs[client]["owner"] }}

</Directory>

{% endif %}
{% endfor %}
