[Interface]
{% if 'mtu' in wireguard %}
MTU={{ wireguard.mtu }}
{% endif %}
PrivateKey = {{ wg_configs.server.privatekey }}
ListenPort = {{ wireguard.listen_port }}
Address = {{ wireguard.ipv4_pool.split('/')|first|regex_replace('.0$','.1') }}, {{ wireguard.ipv6_pool.split('/')|first|regex_replace(':0$',':1') }}
PostUp = /etc/wireguard/helper/add-nat-routing.sh
PostDown = /etc/wireguard/helper/remove-nat-routing.sh

{% for client in wg_configs.keys() %}
{% if client != "server" %}
[Peer]
# {{ client }} owned by {{ wg_configs[client].owner }}
PublicKey = {{ wg_configs[client]['publickey'] }}
AllowedIPs = {{ wg_configs[client]['cidr'] }}
{% if wg_configs[client]['psk'] is defined %}
PresharedKey = {{ wg_configs[client]['psk'] }}
{% endif %}
{% endif %}

{% endfor %}
