[Interface]
{% if 'mtu' in wg_configs.server %}
MTU={{ wg_configs.server.mtu }}
{% endif %}
PrivateKey = {{ wg_configs.server.privatekey }}
ListenPort = {{ wg_configs.server.lport }}
Address = {{ wg_configs.server.cidr }}

{% for client in wg_configs|dict2items %}
{% if client.key != "server" %}
[Peer]
# {{ client.key }}
PublicKey = {{ client.value.publickey }}
AllowedIPs = {{ client.value.cidr }}
{% if 'psk' in client.value %}
PresharedKey = {{ client.value.psk }}
{% endif %}
{% endif %}

{% endfor %}
