[Unit]
Description=Subspace WireGuard UI

[Service]
Type=simple
Environment="SUBSPACE_IPV4_POOL={{ wireguard.ipv4_pool }}" "SUBSPACE_IPV6_POOL={{ wireguard.ipv6_pool }}" "SUBSPACE_NAMESERVERS={{ wireguard.nameservers|join(',') }}" "SUBSPACE_LETSENCRYPT=0" "SUBSPACE_HTTP_ADDR=:{{ wireguard.http_port }}" "SUBSPACE_HTTP_INSECURE=true" "SUBSPACE_LISTENPORT={{ wireguard.listen_port }}" "SUBSPACE_ALLOWED_IPS={{ wireguard.allowed_ips|join(',') }}" "SUBSPACE_PERSISTENT_KEEPALIVE={{ wireguard.keepalive }}"
ExecStart=subspace --http-host vpn.{{ mailserver_domain }} --datadir {{ wireguard.config_dir }}
RemainAfterExit=yes
StandardOutput=journal

[Install]
WantedBy=multi-user.target
