[Unit]
Description=LDAP backup
After="dirsrv@{{ mailserver_hostname }}.{{ mailserver_domain.split('.')[0] }}.service"
Requires="dirsrv@{{ mailserver_hostname }}.{{ mailserver_domain.split('.')[0] }}.service"

[Service]
Type=forking
ExecStart=/bin/sh -c "/usr/bin/find /backup/ldap/ -maxdepth 1 -mtime +7 -exec /usr/bin/rm -rf {} \; ; /usr/sbin/dsconf {{ mailserver_hostname }}.{{ mailserver_domain.split('.')[0] }} backup create && /usr/bin/tar cjvf /backup/ldap/LDAP_backup.`/usr/sbin/dsctl {{ mailserver_hostname }}.{{ mailserver_domain.split('.')[0] }} backups|/usr/bin/tail -n1|/usr/bin/awk '{print $2}'|/usr/bin/awk -F/ '{print $NF}'`.tar.bz2 `/usr/sbin/dsctl {{ mailserver_hostname }}.{{ mailserver_domain.split('.')[0] }} backups|/usr/bin/tail -n1|/usr/bin/awk '{print $2}'`"
RemainAfterExit=yes
StandardOutput=journal

[Install]
WantedBy=multi-user.target
