[Unit]
Description=FTP backup
After=vsftpd.service
After=backup.mount
Requires=vsftpd.service

[Service]
Type=forking
ExecStart=/bin/sh -c '/usr/bin/find /backup/vsftpd/ -maxdepth 1 -mtime +7 -exec /usr/bin/rm -rf {} \; ; /usr/bin/tar cjvf /backup/vsftpd/vsftpd-`/usr/bin/date -Iminutes`.tar.bz2 /etc/vsftpd* /home/{{ users | map(attribute="name") | join('/ftp /home/') }}/ftp'
RemainAfterExit=yes
StandardOutput=journal

[Install]
WantedBy=multi-user.target
