[Unit]
Description=Restart WireGuard
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c '/usr/bin/systemctl restart wg-quick@wg0.service ; /usr/bin/echo "Your VPN config has changed, download the new config from https://vpn.{{ mailserver_domain }}" | mailx -s "VPN config change on vpn.{{ mailserver_domain }}" -r noreply@{{ mailserver_domain }} -b {{ users | map(attribute="name") | join('@' ~ mailserver_domain ~ ' -b ') }}@{{ mailserver_domain }} vpn@{{ mailserver_domain }}'

[Install]
RequiredBy=wg_vpn.path

Type=oneshot