version: "3.8"

services:
  wg-easy:
    environment:
      - WG_HOST=vpn.{{ mailserver_domain }}
      - PASSWORD={% for user in users %}{% if user.name == mailserver_admin_user %}{{ user.password }}{% endif %}{% endfor +%}
      - WG_PERSISTENT_KEEPALIVE={{ wireguard.keepalive }}
      - WG_DEFAULT_ADDRESS={{ wireguard.ipv4_pool }},{{ wireguard.ipv6_pool }}
      - WG_DEFAULT_DNS={{ wireguard.nameservers|join(',') }}
      - WG_ALLOWED_IPS={{ wireguard.allowed_ips|join(',') }}
    image: weejewel/wg-easy
    container_name: wg-easy
    network_mode: host
    volumes:
      - /etc/wireguard:/etc/wireguard
    ports:
      - {{ wireguard.listen_port }}:51820/udp
      - {{ wireguard.http_port }}:51821/tcp
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
