<VirtualHost {% for custom_domain in custom_domains %}postfixadmin.{{ custom_domain }}:80{% if loop.index != loop.length %} {% endif %}{% endfor %}>
  ServerName postfixadmin.{{ mailserver_domain }}
  ServerAlias {% for custom_domain in custom_domains %}postfixadmin.{{ custom_domain }}{% if loop.index != loop.length %} {% endif %}{% endfor %}

  DocumentRoot /var/www/postfixadmin/public/

  ErrorLog /var/log/httpd/postfixadmin_error.log
  CustomLog /var/log/httpd/postfixadmin_access.log combined

  <Directory />
    Options FollowSymLinks
    AllowOverride All
  </Directory>

  <Directory /var/www/postfixadmin/public/>
    Options FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>

</VirtualHost>
