[Unit]
Description=MariaDB backup
After=mariadb.service
Requires=mariadb.service

[Service]
Type=forking
ExecStart=/bin/sh -c '/usr/bin/find /backup/mariadb/ -maxdepth 1 -mtime +7 -exec /usr/bin/rm -rf {} \; ; /usr/bin/mkdir -p /backup/mariadb/`/usr/bin/date -I` && /usr/bin/mariabackup --backup --target-dir=/backup/mariadb/`/usr/bin/date -I` --safe-slave-backup --user=mariabackup --password={{ mariabackup_password }}'
RemainAfterExit=yes
StandardOutput=journal

[Install]
WantedBy=multi-user.target
