{"address":"{{wireguard.ipv4_pool.split('/')|first|replace('.0','.1')}}","v6_address":"{{wireguard.ipv6_pool.split('/')|first|replace(':0',':1')}}","subnet":{{wireguard.ipv4_pool.split('/')|last}},"v6_subnet":{{wireguard.ipv6_pool.split('/')|last}},"interface":"wg0","listen_port":"{{wireguard.listen_port}}","endpoint":"vpn.{{ mailserver_domain }}","dns":"{{wireguard.ipv4_pool.split('/')|first|replace('.0','.1')}},{{wireguard.ipv6_pool.split('/')|first|replace(':0',':1')}},8.8.8.8","private_key":"","public_key":"","post_up":"","post_down":"","configuration":"","is_running":false,"peers":[]}
